<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FlumePlugins Suite" parallel="classes" thread-count="10" verbose="2">
	<test name="Sources">
		<classes>
			<class name="hu.ssh.flume.plugins.TestFifoSource" />
		</classes>
	</test>
</suite>
